<!-- <p>
  {{myShoppingCart.length}}
</p>
<p>
  Today:  {{ today | date:'short'}}
</p>
<p>
  LastDay:  {{ date | date:'yyyy.MM.dd'}}
</p>
<p appHighLight>
  LastDay:  {{ date | timeAgo}}
</p>
<p>
  UppercSe:  {{ 'dsadsDASGasd SDASa' | uppercase}}
</p>
<p>
  Total: {{total}}
</p> -->
<button type="button" (click)="createNewProduct()">create</button>
<div class="products--grid">
  <!--Se envia la propiedad enviandolo dinamicamente-->
  <app-product
    *ngFor="let product of products"
    [myProduct]="product"
    (addedProduct)="onAddToShoppingCart($event)"
    (showProduct)="onShowDetail($event)"
    (updatedProduct)="updateProduct($event)"
  ></app-product>
</div>
<app-product-detail
  (addedProduct)="onAddToShoppingCart($event)"
  [productChosen]="productChosen"
>
</app-product-detail>
