button{
  border: none;
  background: none;
}

.products--grid{
  padding: 5rem 2%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}



// tablets and desktop
@media screen and (min-width: 575.98px){
  .products--grid{
    padding: 4% 2%;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(15.625rem, 1fr) );
    gap: 15px;
  }
}


@media screen and (min-width: 1199.98px) {
    .products--grid{
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    }
}

