<!-- <p>
  {{myShoppingCart.length}}
</p>
<p>
  Today:  {{ today | date:'short'}}
</p>
<p>
  LastDay:  {{ date | date:'yyyy.MM.dd'}}
</p>
<p appHighLight>
  LastDay:  {{ date | timeAgo}}
</p>
<p>
  UppercSe:  {{ 'dsadsDASGasd SDASa' | uppercase}}
</p>
<p>
  Total: {{total}}
</p> -->
<app-nav></app-nav>
<button type="button" aria-labelledby="buttonCreate" (click)="createNewProduct()">create</button>
<div class="products--grid">
  <!--Se envia la propiedad enviandolo dinamicamente-->
  <app-product
    *ngFor="let product of products"
    [myProduct]="product"
    (addedProduct)="onAddToShoppingCart($event)"
    (showProduct)="onShowDetail($event)"
    (updatedProduct)="updateProduct($event)"
  ></app-product>
  <button
    class="btn btn-primary"
    type="button"
    aria-label="loadMore"
    (click)="loadData()"
  >
    Load More
  </button>
</div>
<app-product-detail
  (addedProduct)="onAddToShoppingCart($event)"
  (deleteProduct)="onDeleteProduct($event)"
  [productChosen]="productChosen"
>
</app-product-detail>
<app-cargando *ngIf="cargandoProducts"></app-cargando>
