<!-- <p>
  {{myShoppingCart.length}}
</p>
<p>
  Today:  {{ today | date:'short'}}
</p>
<p>
  LastDay:  {{ date | date:'yyyy.MM.dd'}}
</p>
<p appHighLight>
  LastDay:  {{ date | timeAgo}}
</p>
<p>
  UppercSe:  {{ 'dsadsDASGasd SDASa' | uppercase}}
</p>
<p>
  Total: {{total}}
</p> -->
<div class="container-archivos">
  <span>Test descargar con etiqueta a</span>
  <a href="../../../assets/files/texto.txt" download>Descargar</a>
  <span>Descargar mediante un boton</span>
  <button type="button" class="btn" (click)="dowloadPDF()">Descargar PDF</button>
  <span>Cargar archivos mediante un file  input</span>
  <div>
    <input type="file" (change)="onUpload($event)">
    <img *ngIf="imgRta" [src]="imgRta">
  </div>
  <span>Crear un nuevo producto</span>
  <button type="button" class="btn" aria-labelledby="buttonCreate" (click)="createNewProduct()">create</button>
</div>
<div class="products--grid">
  <!--Se envia la propiedad enviandolo dinamicamente-->
  <app-product
    *ngFor="let product of products"
    [myProduct]="product"
    (addedProduct)="onAddToShoppingCart($event)"
    (showProduct)="onShowDetail($event)"
    (updatedProduct)="updateProduct($event)"
  ></app-product>
  <button
    class="btn"
    type="button"
    aria-label="loadMore"
    (click)="loadMore()"
  >
    Load More
  </button>
</div>
<app-product-detail
  (addedProduct)="onAddToShoppingCart($event)"
  (deleteProduct)="onDeleteProduct($event)"
  [productChosen]="productChosen"
>
</app-product-detail>
<app-cargando *ngIf="loadingProducts"></app-cargando>
