<section class="container-products">
  <button type="button" aria-labelledby="buttonToggle" class="product-detail__close" (click)="getBack()">
    <fa-icon [icon]="faClose"></fa-icon>
    <span>Back</span>
  </button>
  <div class="product-detail">
    <div class="product-image-container">
      <swiper [slidesPerView]="1" [navigation]="true" [pagination]="{clickable: true}">
        <ng-template swiperSlide *ngFor="let img of product?.images">
          <img [src]="img" alt="" class="product-detail__image" />
        </ng-template>
      </swiper>
    </div>
    <div class="product-info">
      <p class="product-info__title">{{ product?.title }}</p>
      <p class="product-info__description">{{ product?.description }}</p>
      <p class="product-info__price">
        {{ product?.price | currency : "USD " }}
      </p>
    </div>
  </div>
</section>
