
<div class="product-detail" [class.active]="showProductDetail">
  <div>
    <button class="product-detail__close" (click)="toggleProductDetail()">
      <fa-icon [icon]="faClose"></fa-icon>
    </button>
    <swiper
    [slidesPerView]="1"
    [navigation]="true"
    [pagination]="{clickable: true}"
    >
      <ng-template swiperSlide *ngFor="let img of productChosen.images">
        <img [src]="img" alt="" class="product-detail__image"/>
      </ng-template>
    </swiper>
    <div class="product-info">
      <p class="product-info__price">
        {{ productChosen.price | currency : "USD " }}
      </p>
      <p class="product-info__title">{{ productChosen.title }}</p>
      <p class="product-info__description">{{ productChosen.description }}</p>
      <button class="product-info__addCart">
        <img src="./assets/icons/bt_add_to_cart.svg" alt="add to cart" />
        <p>add to Cart</p>
      </button>
    </div>
  </div>
</div>
