@import '../../../styles/vars';

.product-detail{
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: all ease-out .5s;
  transform: translateX(100%);
  &.active{
    transform: translateX(0);
  }
  &__close{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20px;
    left: 20px;
    position: absolute;
    background-color: $white;
    width: 26px;
    height: 26px;
    border-radius: 100%;
    border: 0.5px solid $very-light-pink;
    cursor: pointer;
    z-index: 1;
    &:hover{
      background-color: $hospital-green;
    }
  }
  &__image{
    height: 65vh;
    width: 100%;
    border-radius: 0 0 20px 20px;
  }
}

.product-info{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
  &__price{
    font-weight: 700;
  }
  &__title{
    font-size: $md;
  }
  &__description{
    color: $very-light-pink;
    font-size: $sm;
  }
  &__addCart{
    border: none;
    width: 100%;
    background-color: $hospital-green;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    cursor: pointer;
  }
}


@media screen and (min-width: 767.98px) {
    .product-detail{
    width: 30rem;
    left: inherit;
    transition: all ease-out .5s;
  }
}

@media screen and (min-width: 1199px) {
    .product-detail{
    width: 40rem;
  }
}
