@import '../../../styles/vars';

p, h2{
  margin: 0;
}

.product{
  padding: 0 1rem;
  &__info{
    height: 40px;
    max-height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;

    &_image{
      width: 10%;
      cursor: pointer;
      width: 35px;
    }
    &_detail{
      width: 80%;
      &-title{
        font-weight: bold;
        font-size: $md;
      }
      &-description{
        font-size: $sm;
        color: $very-light-pink ;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
}

.disabled {
	cursor: not-allowed;
}
.pointer{
	cursor: pointer;
}

