@import '../../../styles/vars';

p, h2{
  margin: 0;
}

.product{
  padding: 0 1rem;
  &__info{
    height: 2.5rem;
    max-height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.75rem;

    &_image{
      cursor: pointer;
      width: 2.1875rem;
    }
    &_detail{
      width: 80%;
      &-title{
        font-weight: bold;
        font-size: $md;
      }
      &-description{
        font-size: $sm;
        color: $very-light-pink ;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
}

.disabled {
	cursor: not-allowed;
}
.pointer{
	cursor: pointer;
}

