<div class="product">
  <app-img [imgURL]="product.image"></app-img>
  <div class="product__info">
    <div class="product__info_detail">
      <p class="product__info_detail-title">{{ product.price | currency:'USD ' }}</p>
      <p class="product__info_detail-description">{{ product.title | vocalChange }}</p>
    </div>
    <div
      class="product__info_image"
      [ngClass]="{ disabled: disabled }"
      (click)="onAddToCar()"
    >
      <app-img [imgURL]="addCartImg"></app-img>
    </div>
  </div>
</div>
