<!--
    Usando el ngModel enviamos con el dataBinding propiedades al hijo
    <label for="urlImg" class="visually-hidden">Url Img: </label>

    <input
    class="form-control"
    type="text"
    [(ngModel)]="imgParent"
    name="urlImg"
    />
    <button type="submit" class="btn btn-primary" (click)="toggleImg()">
      Toggle Image
    </button>
    <app-img
    *ngIf="showImg"
    (loaded)="onLoaded($event)"
    [imgURL]="imgParent"
    ></app-img>
    <p>{{ showImg }}</p>
  -->
<app-products></app-products>
