<div class="show-mobile">
  <div>
    <button class="show-mobile__button" (click)="toggleMenu()">
      <img src="./assets/icons/icon_menu.svg" alt="menu">
    </button>
    <a [routerLink]="['/']"  >
      <img src="./assets/logos/logo_yard_sale.svg" alt="logo">
    </a>
    <div class="cart">
      <img src="./assets/icons/icon_shopping_cart.svg" alt="logo">
      <span class="span-cart"   *ngIf="counter > 9; else lessLength">+9</span>
      <ng-template #lessLength>
        <span class="span-cart"  >{{counter}}</span>
      </ng-template>
    </div>
  </div>
  <div class="side-menu" [ngClass]="{active: activeMenu}">
    <button class="side-menu__close" (click)="toggleMenu()" type="button" aria-labelledby="buttonClose">
      <fa-icon [icon]="faClose"></fa-icon>
    </button>
    <div class="side-menu__list">
        <p class="side-menu__title">CATEGORIES</p>
        <ul>
          <li><a [routerLink]="['/home']"  >All</a></li>
          <li><a [routerLink]="['/home']"  >Clothes</a></li>
          <li><a [routerLink]="['/home']"  >Electronics</a></li>
          <li><a [routerLink]="['/home']"  >Furnitures</a></li>
          <li><a [routerLink]="['/home']"  >Toys</a></li>
          <li><a [routerLink]="['/home']"  >Others</a></li>
          <li><a [routerLink]="['/']"  >Login</a></li>
        </ul>
    </div>
    <div class="side-menu__list">
      <ul>
        <li><a [routerLink]="['/']"  >My Orders</a></li>
        <li><a [routerLink]="['/']"  >My Account</a></li>
        <li><a [routerLink]="['/']"   class="email">micorreo@example.com</a></li>
        <li><a [routerLink]="['/']"   class="sign out">Sing out</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="hide-mobile">
  <div class="header">
    <nav class="nav">
      <a class="nav__logo" [routerLink]="['/']"  >
        <img src="./assets/logos/logo_yard_sale.svg" alt="logo">
      </a>
      <div >
        <ul class="nav__list">
          <li><a [routerLink]="['/home']"  >All</a></li>
          <li><a [routerLink]="['/home']"  >Clothes</a></li>
          <li><a [routerLink]="['/home']"  >Electronics</a></li>
        </ul>
      </div>
    </nav>
    <div class="nav__info">
      <div *ngIf="!profile;else elseBlock">
        <ul class="nav__list">
          <li><a [routerLink]="['login']" >Login</a></li>
        </ul>
      </div>
      <ng-template #elseBlock>
        <div class="nav__info-account">{{profile?.name}}</div>
        <ul class="nav__list">
          <li><a (click)="logOut()" >Log Out</a></li>
        </ul>
      </ng-template>
      <div class="cart">
        <img src="./assets/icons/icon_shopping_cart.svg" alt="logo">
        <span class="span-cart"   *ngIf="counter > 9; else lessLength">+9</span>
        <ng-template #lessLength>
          <span class="span-cart"  >{{counter}}</span>
        </ng-template>
      </div>
    </div>
  </div>
</div>
