<div class="show-mobile">
  <div>
    <button class="show-mobile__button" (click)="toggleMenu()">
      <img src="./assets/icons/icon_menu.svg" alt="menu">
    </button>
    <a href="">
      <img src="./assets/logos/logo_yard_sale.svg" alt="logo">
    </a>
    <div class="cart">
      <img src="./assets/icons/icon_shopping_cart.svg" alt="logo">
      <span class="span-cart"   *ngIf="counter > 9; else lessLength">+9</span>
      <ng-template #lessLength>
        <span class="span-cart"  >{{counter}}</span>
      </ng-template>
    </div>
  </div>
  <div class="side-menu" [ngClass]="{active: activeMenu}">
    <button class="side-menu__close" (click)="toggleMenu()">
      <fa-icon [icon]="faClose"></fa-icon>
    </button>
    <div class="side-menu__list">
        <p class="side-menu__title">CATEGORIES</p>
        <ul>
          <li><a href="">All</a></li>
          <li><a href="">Clothes</a></li>
          <li><a href="">Electronics</a></li>
          <li><a href="">Furnitures</a></li>
          <li><a href="">Toys</a></li>
          <li><a href="">Others</a></li>
        </ul>
    </div>
    <div class="side-menu__list">
      <ul>
        <li><a href="">My Orders</a></li>
        <li><a href="">My Account</a></li>
        <li><a href="" class="email">micorreo@example.com</a></li>
        <li><a href="" class="sign out">Sing out</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="hide-mobile">
  <div class="header">
    <nav class="nav">
      <a class="nav__logo" href="">
        <img src="./assets/logos/logo_yard_sale.svg" alt="logo">
      </a>
      <div class="nav__list">
        <li><a href="">All</a></li>
        <li><a href="">Clothes</a></li>
        <li><a href="">Electronics</a></li>
      </div>
    </nav>
    <div class="nav__info">
      <div class="nav__info-account">nicolas@nicolas.com</div>
      <div class="cart">
        <img src="./assets/icons/icon_shopping_cart.svg" alt="logo">
        <span class="span-cart"   *ngIf="counter > 9; else lessLength">+9</span>
        <ng-template #lessLength>
          <span class="span-cart"  >{{counter}}</span>
        </ng-template>
      </div>
    </div>
  </div>
</div>
