<div class="show-mobile">
  <div>
    <button (click)="toggleMenu()">
      <img src="./assets/icons/icon_menu.svg" alt="menu">
    </button>
    <a href="">
      <img src="./assets/logos/logo_yard_sale.svg" alt="logo">
    </a>
    <div class="cart">
      <img src="./assets/icons/icon_shopping_cart.svg" alt="logo">
      <span class="span-cart"   *ngIf="counter > 9; else lessLength">+9</span>
      <ng-template #lessLength>
        <span class="span-cart"  >{{counter}}</span>
      </ng-template>
    </div>
  </div>
  <div class="side-menu" [ngClass]="{active: activeMenu}">
    <div class="side-menu-div">
      <button class="side-menuclose" (click)="toggleMenu()">
        close
      </button>
      <div class="side-menu-div__list">
        <p>CATEGORIES</p>
        <ul>
          <li><a href="">All</a></li>
          <li><a href="">Clothes</a></li>
          <li><a href="">Electronics</a></li>
          <li><a href="">Furnitures</a></li>
          <li><a href="">Toys</a></li>
          <li><a href="">Others</a></li>
          <li><a href="">My Orders</a></li>
          <li><a href="">My Account</a></li>
        </ul>
      </div>
    </div>
    <div class="side-menu-div__list">
      <li><a href="" class="email">@example.com</a></li>
      <li><a href="" class="sign out">Sing out</a></li>
    </div>
  </div>
</div>
<div class="hide-mobile">
  <div>
    <nav>
      <a class="logo" href="">
        <img src="./assets/logos/logo_yard_sale.svg" alt="logo">
      </a>
      <div>
        <li><a href="">All</a></li>
        <li><a href="">Clothes</a></li>
        <li><a href="">Electronics</a></li>
      </div>
    </nav>
    <div class="info">
      <div class="account">nicolas@nicolas.com</div>
      <div class="cart">
        <img src="./assets/icons/icon_shopping_cart.svg" alt="logo">
        <span class="span-cart"   *ngIf="counter > 9; else lessLength">+9</span>
        <ng-template #lessLength>
          <span class="span-cart"  >{{counter}}</span>
        </ng-template>
      </div>
    </div>
  </div>
</div>
