/* You can add global styles to this file, and also import other style files */
@use './styles/reset.scss';
@import "./styles/vars";

*{
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

.products--grid {
  app-img {
    img{
      border-radius:  10px;
    }
  }
}

.email{
  color: $hospital-green !important;
}
